
    <div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-push-6 col-md-4 col-md-push-7 phone-preview">
                    
                    <div class="imac-mockup"><% image_tag 'logo.svg' %> 
                        <div class="screen"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-pull-6 col-md-6 col-md-pull-3 get-it">
                    <h1>Phone 2 Wall Art</h1>
<p>A new photo app and printing system.</p>
                    <div class="iphone-mockup">
                        <div class="screen"></div>
                    </div>
                    <p><a class="btn btn-primary btn-lg" role="button" href="#"><span class="fa fa-apple"></span> Available on the App Store</a><a class="btn btn-success btn-lg" role="button" href="#"><span class="fa fa-google"></span> Available on Google Play</a></p>
                </div>
            </div>
        </div>
    </div>
<%= render 'layouts/testimonials' %>  
<%= render 'layouts/features' %>