<section class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Fantastic Features</h2>
                    <p>Simpliest way to print large HD quality photos in a large format. Using patented technology your prints will look incredible and you will be able to place and remove them with out any damage to the wall. <a href="#">Find out more</a></p>
                </div>
                <div class="col-md-6">
                    <div class="row icon-features">
                        <div class="col-xs-4 icon-feature"><span class="glyphicon glyphicon-phone"></span>
                            <p>Take a photo. </p>
                        </div>
                        <div class="col-xs-4 icon-feature"><a herf=""></a><span class="glyphicon glyphicon-picture"></span>
                            <p>Print a huge giant print.</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><span class="glyphicon glyphicon-plane"></span>
                            <p>Get it in the mail.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>