<section class="testimonials">
        <h2 class="text-center">People Love It!</h2>
        <blockquote>
            <p>Easist way to print large HD quailty wall art.</p>
            <footer>Satisfied customer</footer>
        </blockquote>
    </section>